.overlay-mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9000;
  top: 0;
  left: 0;
  background: rgba(var(--background-overlay));
  transition: display 0.15s linear, backdrop-filter 0.15s linear;
  animation: fade-in 0.25s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.overlay-mask.mask--backgroundBlur {
  backdrop-filter: blur(0.089rem);
}

.overlay-mask .overlay-children {
  position: absolute;
  z-index: 9001;
  max-height: 85%;
  max-width: 85%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.body--hasOverlay {
  overflow: hidden;
}