.OverlayMask {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  background: rgba(var(--background-overlay));
  transition: display 0.15s linear, backdrop-filter 0.15s linear;
  animation: fade-in 0.25s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.OverlayMask.backgroundBlur {
  backdrop-filter: blur(0.089rem);
}

.body--hasOverlayMask {
  overflow: hidden;
}

.OverlayMask--aboveHeader {
  z-index: 9004;
}

.OverlayMask--belowHeader {
  z-index: 9002;
}