.react-select-wrapper {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.react-select-label {
  margin-left: 16px;
  margin-bottom: 2px;
  font-size: 0.75rem;
  color: var(--text-color-shade);
}

.react-select-wrapper > .select-icon {
  position: absolute;
  left: 8px;
  bottom: 7px;
  width: 1.35rem;
  height: 1.35rem;
  z-index: 1;
}

.react-select-wrapper.wrapper--hasIcon {
  position: relative;
}