.FlexGroup {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
 /* 1 */
}
.FlexGroup :global(.flexItem) {
  flex-grow: 1;
  flex-basis: 0%;
 /* 2 */
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .FlexGroup :global(.flexItem) {
    min-width: 1px;
 }
}
.FlexGroup--gutterExtraSmall {
  margin: -2px;
}
.FlexGroup--gutterExtraSmall > :global(.flexItem) {
  margin: 2px;
}
.FlexGroup--gutterSmall {
  margin: -4px;
}
.FlexGroup--gutterSmall > :global(.flexItem) {
  margin: 4px;
}
.FlexGroup--gutterMedium {
  margin: -8px;
}
.FlexGroup--gutterMedium > :global(.flexItem) {
  margin: 8px;
}
.FlexGroup--gutterLarge {
  margin: -12px;
}
.FlexGroup--gutterLarge > :global(.flexItem) {
  margin: 12px;
}
.FlexGroup--gutterExtraLarge {
  margin: -20px;
}
.FlexGroup--gutterExtraLarge > :global(.flexItem) {
  margin: 20px;
}
.FlexGroup--justifyContentSpaceEvenly {
  justify-content: space-evenly;
}
.FlexGroup--justifyContentSpaceBetween {
  justify-content: space-between;
}
.FlexGroup--justifyContentSpaceAround {
  justify-content: space-around;
}
.FlexGroup--justifyContentCenter {
  justify-content: center;
}
.FlexGroup--justifyContentFlexEnd {
  justify-content: flex-end;
}
.FlexGroup--alignItemsFlexStart {
  align-items: flex-start;
}
.FlexGroup--alignItemsCenter {
  align-items: center;
}
.FlexGroup--alignItemsFlexEnd {
  align-items: flex-end;
}
.FlexGroup--alignItemsBaseline {
  align-items: baseline;
}
.FlexGroup--directionRow {
  flex-direction: row;
}
.FlexGroup--directionRowReverse {
  flex-direction: row-reverse;
}
.FlexGroup--directionColumn {
  flex-direction: column;
}
.FlexGroup--directionColumnReverse {
  flex-direction: column-reverse;
}
.FlexGroup--wrap {
  flex-wrap: wrap;
}
@media only screen and (max-width: 574px) {
  .FlexGroup--responsive {
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
 }
}
@media only screen and (min-width: 575px) and (max-width: 767px) {
  .FlexGroup--responsive {
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
 }
}