.sidenav {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 6px;
  box-sizing: border-box;
  width: 256px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  z-index: 9003;
  left: 0;
  top: 0;
  animation: sidenavIn 0.2s ease-in-out;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

.sidenav.sidenav--background {
  background-color: rgba(var(--palette-shade-2));
}

.sidenav-position--right {
  left: inherit;
  right: 0;
  border-left: 1px solid rgba(var(--palette-shade-5));
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  animation: sidenavInRight 0.2s ease-in-out;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.header-container {
  width: 100%;
}

.options-container {
  width: 100%;
  overflow-y: scroll;
}

.sidenav-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  border: none;
  outline: none;
  margin: 0;
  padding: 4px;
  box-sizing: border-box;
}

.sidenav-docked {
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 256px;
}

@keyframes sidenavIn {
  0% {
    opacity: 0;
    transform: translateX(-100%)  scale(0.975);
  }

  85% {
    opacity: 1;
    transform: translateX(2%) scale(0.985);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
}

@keyframes sidenavInRight {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(0.975);
  }

  85% {
    opacity: 1;
    transform: translateX(-2%) scale(0.985);

  }
  100% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
}

.floating-sidenav {
  border-radius: 16px;
  height: calc(100vh - 16px);
  margin: 8px;
  border: none;
}