.widget-card {
  outline: none;
  display: flex;
  flex-direction: column;
  padding: 6px;
  color: rgba(var(--text-color));
  border-radius: 12px;
  transition: background 0.15s ease-in-out, border 0.15s ease-in-out;
}

.widget--buttonType {
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.widget--buttonType:hover {
  transform: scale(1.008);
}

.widget--buttonType:active {
  transform: scale(0.99);
}

/*
  PRIMARY COLORS
*/
.widget--colorPrimary {
  background-color: rgba(var(--primary-color), 0.4);
  box-shadow: 0px 1px 5px rgba(var(--primary-color), 0.25);
}
.widget--colorPrimary.gradient {
  background: rgba(var(--primary-color));
  background: linear-gradient(135deg, rgba(var(--primary-color), 0.65) 0%, rgba(0,212,255,0.65) 100%);
}
.widget--buttonType.widget--colorPrimary.gradient:hover {
  background: linear-gradient(135deg, rgba(var(--primary-color), 0.94) 0%, rgba(0,212,255,0.94) 100%);
}

/*
  DANGER COLORS
*/
.widget--colorDanger {
  background-color: rgba(var(--danger-color));
  box-shadow: 0px 1px 5px rgba(var(--danger-color), 0.25);
}
.widget--colorDanger.gradient {
  background: rgb(var(--danger-color));
  background: linear-gradient(135deg, rgba(var(--danger-color),0.65) 0%, rgba(252,120,34,0.65) 100%);
}
.widget--buttonType.widget--colorDanger.gradient:hover {
  background: rgb(var(--danger-color));
  background: linear-gradient(135deg, rgba(var(--danger-color),0.94) 0%, rgba(252,120,34,0.94) 100%);
}
/*
  ACCENT COLORS
*/
.widget--colorAccent {
  background-color: rgba(var(--accent-color));
  box-shadow: 0px 1px 5px rgba(var(--accent-color), 0.25);
}
.widget--colorAccent.gradient {
  background: rgb(var(--accent-color));
  background: linear-gradient(135deg, rgba(var(--accent-color),0.65) 0%, rgba(0,255,251,0.65) 100%);
}
.widget--buttonType.widget--colorAccent.gradient:hover {
  background: rgb(var(--accent-color));
  background: linear-gradient(135deg, rgba(var(--accent-color),0.94) 0%, rgba(0,255,251,0.94) 100%);
}

/*
  SUCCESS COLORS
*/
.widget--colorSuccess {
  background-color: rgba(var(--success-color));
  box-shadow: 0px 1px 5px rgba(var(--success-color), 0.25);
}

/*
  WARNING COLORS
*/
.widget--colorWarning {
  background-color: rgba(var(--warning-color));
  box-shadow: 0px 1px 5px rgba(var(--warning-color), 0.25);
}
.widget--colorWarning.gradient {
  background: rgb(var(--warning-color));
  background: linear-gradient(135deg, rgba(var(--warning-color),1) 0%, rgba(255,156,46,1) 100%);
}
.widget--buttonType.widget--colorWarning.gradient:hover {
  background: rgb(var(--warning-color));
  background: linear-gradient(135deg, rgba(var(--warning-color),1) 0%, rgba(255,156,46,1) 100%);
}

/*
  DEFAULT COLOR
*/
.widget--colorDefault {
  background-color: rgba(var(--palette-shade-2));
  border: 1px rgba(var(--palette-shade-4)) solid;
  box-shadow: none
}
.widget--buttonType.widget--colorDefault:hover {
  border: 1px rgba(var(--primary-color)) solid;
}