.toolbar {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0 16px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 2px -1px rgb(0 0 0 / 10%), 0 1px 5px -2px rgb(0 0 0 / 10%);
  background-color: rgba(var(--palette-shade-2));
  border-bottom: 1px solid rgba(var(--text-color-shade), 0.23);
  z-index: 1000;
}

.body--hasFixedToolbar {
  padding-top: 56px;
}

.space-between {
  justify-content: space-between;
}
