.SideNav {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  max-width: 230px;
  width: 230px;
  min-width: 230px;
  background-color: rgba(var(--palette-shade-2));
  padding: 0;
  border-right: 1px solid rgba(var(--text-color-shade), 0.23);
}

.SideNav--Searchbar {
  height: 70px;
  width: 100%;
  margin: 0;
  padding: 12px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  box-shadow: 1px 0px 6px rgba(var(--text-color), 0.1);
}

.SideNav--NavSections {
  height: 100%;
  margin: 0;
  padding: 12px;
  overflow-y: scroll;
}

.NavSections--Title {
  display: flex;
  align-items: center;
}
.NavSections--Title h3 {
  margin: 12px 0px 12px 12px;
}

.NavSection--ItemButton {
  width: 100%;
  height: 32px;
  background-color: transparent;
  border-radius: 8px;
  outline: 0;
  cursor: pointer;
  transition: background-color 0.25s ease-out;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 4px 0px;
  padding-left: 12px;
  justify-content: flex-start;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.90rem;
  color: rgba(var(--text-color));
}

.NavSection--ItemButton:hover {
  background-color: rgba(var(--interactable-shade-1), 0.7);
}
.NavSection--ItemButton:active {
  transform: scale(0.985);
}

.ItemButton__spaceBetween {
  justify-content: space-between;
}

.ItemButton__disabled {
  background-color: rgba(var(--interactable-shade-1), 0.2);
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.NavSection--ItemButton.ItemButton__isActive {
  color: rgb(var(--primary-color));
  font-weight: 600;
}