.FormSwitch--wrapper {
  display: flex;
  width: max-content;
  flex-direction: row;
  padding: 0;
  box-sizing: 0;
  margin: 0;
  align-items: center;
  outline: none;
}

.FormSwitch--label {
  margin-left: 6px;
  font-weight: 500;
  font-size: 0.98rem;
  cursor: pointer;
}

.FormSwitch--button {
  height: 18px;
  width: 36px;
  border-radius: 9px;
  border: 1px solid rgba(var(--text-color-shade), 0.3);
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.FormSwitch--body {
  border-radius: 9px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: rgb(var(--primary-color));
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  position: relative;
}

.FormSwitch--circle {
  content: '';
  position: absolute;
  background-color: rgb(var(--palette-shade-5));
  height: 20px;
  width: 20px;
  left: 14px;
  outline: none;
  border-radius: 50%;
  border: 1px solid rgba(var(--text-color-shade), 0.3);
  transition: left 0.08s ease-in-out;
}

.FormSwitch--wrapper:hover .FormSwitch--circle {
  transform: scale(1.085);
  border: 1px solid rgba(var(--primary-color), 0.7);
}

.FormSwitch--button[aria-checked=false]
.FormSwitch--body {
  background-color: rgb(var(--palette-shade-3));
}

.FormSwitch--button[aria-checked=false]
.FormSwitch--body > .FormSwitch--circle {
  left: -2px;
}

.FormSwitch--wrapper.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.45;
}