.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-left: 28px;
}

input[type=checkbox].checkbox-input {
  display: none;
}

input[type=checkbox].checkbox-input:checked + .checkbox-square {
  background-color: rgba(var(--primary-color));
}

.checkbox-square {
  height: 18px;
  width: 18px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -1px;
  background-color: rgba(var(--palette-shade-5));
  border: 1px solid rgba(var(--palette-shade-4));
  border-radius: 5px;

}