/* Base class for Panel Card containing default values */
.panel-card {
  display: flex;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 12px;
  background-color: rgba(var(--palette-shade-2));
  width: 100%;
  outline: none;
  border: 1px rgba(var(--palette-shade-3), 0.6) solid;
}

.panel-card--hasShadow {
  box-shadow: 0px 1px 4px rgb(0 0 0 / 13%);
  border: none;
}

.panel-card.flex-column {
  flex-direction: column;
}

.panel-card.flex-row {
  flex-direction: row;
}

/*
  Padding size classes for Panel
  class determined by paddingSize prop
*/
.panelPadding--none {
  padding: 0px;
}
.panelPadding--small {
  padding: 8px;
}
.panelPadding--medium {
  padding: 16px;
}
.panelPadding--large {
  padding: 24px;
}
