.action-button {
  min-width: 92px;
  width: 100%;
  height: 40px;
  display: flex;
  border-radius: 8px;
  border: none;
  outline: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: rgba(var(--text-color-shade), 1);
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 0.012rem;
  background-color: transparent;
  box-sizing: border-box;
  font-weight: 600;
  white-space: nowrap;
}

.action-button.restrain-width {
  width: fit-content;
}

.action-button.button--extraSmall {
  height: 36px;
  font-size: 0.85rem;
}

.action-button.button--medium {
  height: 48px;
  font-size: 0.92rem;
  padding: 12px 16px;
}

.action-button.button--large {
  height: 54px;
  font-size: 0.92rem;
  padding: 12px 20px;
}

.action-button.flex-start {
  justify-content: flex-start;
}

.action-button:hover,
.action-button:focus {
  background-color: rgba(var(--interactable-shade-1-hover), 0.3);
}

.action-button.button--default.fill {
  background-color: rgba(var(--interactable-shade-1));
  color: rgba(var(--text-color-shade));
}

.action-button.button--default.fill:hover,
.action-button.button--default.fill:focus {
  background-color: rgba(var(--interactable-shade-1-hover));
}

.action-button.button--primary {
  color: rgba(var(--primary-color));
}

.action-button.button--primary:hover,
.action-button.button--primary:focus {
  background-color: rgba(var(--primary-color-opaque));
}

.action-button.button--primary.fill {
  background-color: rgba(var(--primary-color));
  color: white;
}

.action-button.button--primary.fill:hover,
.action-button.button--primary.fill:focus {
  background-color: rgba(var(--primary-color-light));
}

.action-button.button--danger {
  color: rgba(var(--danger-color));
}

.action-button.button--danger:hover,
.action-button.button--danger:focus {
  background-color: rgba(var(--danger-color-opaque));
}

.action-button.button--danger.fill {
  background-color: rgba(var(--danger-color));
  color: white;
}

.action-button.button--danger.fill:hover,
.action-button.button--danger.fill:focus {
  background-color: rgba(var(--danger-color-light));
}

.action-button.button--warning:hover,
.action-button.button--warning:focus {
  background-color: rgba(var(--warning-color), 0.35);
}

.action-button.button--warning {
  color: rgba(var(--warning-color));
}

.action-button.button--warning.fill {
  background-color: rgba(var(--warning-color));
  color: white;
}

.action-button.button--warning.fill:hover,
.action-button.button--warning.fill:focus {
  background-color: rgba(var(--warning-color-light));
}

.action-button.button--accent:hover,
.action-button.button--accent:focus {
  background-color: rgba(var(--accent-color), 0.35);
}

.action-button.button--accent {
  color: rgba(var(--accent-color));
}

.action-button.button--accent.fill {
  background-color: rgba(var(--accent-color));
  color: white;
}

.action-button.button--accent.fill:hover,
.action-button.button--accent.fill:focus {
  background-color: rgba(var(--accent-color-light));
}

.action-button.button--success:hover,
.action-button.button--success:focus {
  background-color: rgba(var(--success-color), 0.35);
}

.action-button.button--success {
  color: rgba(var(--success-color));
}

.action-button.button--success.fill {
  background-color: rgba(var(--success-color));
  color: white;
}

.action-button.button--success.fill:hover,
.action-button.button--success.fill:focus {
  background-color: rgba(var(--success-color-light));
}

.action-button:active {
  transform: scale(0.965);
}

.action-button.button--isLoading {
  cursor: not-allowed;
  opacity: 0.6;
}
.action-button.button--isLoading:active {
  transform: inherit;
}

.action-button.button--disabled {
  opacity: 0.95;
  background-color: rgba(var(--interactable-shade-1), 0.40) !important;
  color: rgba(var(--interactable-shade-1-hover)) !important;
  pointer-events: none;
  cursor: not-allowed;
}
.action-button.button--disabled:hover {
  background-color: rgba(var(--interactable-shade-1), 0.40) !important;
}
.action-button.button--disabled:active {
  transform: inherit;
}