.sidenav-item {
  min-height: 48px;
  width: 100%;
  margin: 4px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  font-size: 0.98rem;
  background-color: transparent;
  text-decoration: none;
  border-radius: 8px;
  outline: none;
  border: none;
  transition: background-color 0.1s;
  cursor: pointer;
}

.sidenav-item:hover {
  background-color: var(--interactable-shade-1-hover);
}

.sidenav-item:first-child {
  margin-top: 8px;
}

.sidenav-item:last-child {
  margin-bottom: 8px;
}

.label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label {
  display: block;
  margin: 0;
  margin-left: 16px;
  color: var(--text-color);
  font-weight: 600;
}

.sublabel {
  display: block;
  margin: 0;
  margin-top: 2px;
  color: var(--text-color-shade);
  font-size: 0.78rem;
}

.sublabel-label-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  flex-direction: column;
  margin-left: 16px;
}

.sublabel-label-container .label {
  margin-left: 0;
}

.sidenav-item:hover {
  background-color: var(--palette-shade-4);
}