.icon-button {
  position: relative;
  height: 42px;
  width: 42px;
  display: flex;
  border-radius: 50%;
  border: none;
  outline: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.1s;
  box-sizing: border-box;
}

.icon-button.button--fill {
  background-color: rgba(var(--interactable-shade-1));
}

.icon-button.button--large {
  height: 48px;
  width: 48px;
}

.icon-button.button--small {
  height: 38px;
  width: 38px;
}

.icon-button.button--extraSmall {
  height: 32px;
  width: 32px;
}

.icon-button:hover {
  background-color: rgba(var(--interactable-shade-1-hover));
}
.icon-button:not(.button--fill):hover {
  background-color: rgba(var(--interactable-shade-1-hover), 0.4);
}

.icon-button.button--primary:hover {
  background-color: rgba(var(--primary-color), 0.2);
}
.icon-button.button--fill.button--primary {
  background-color: rgba(var(--primary-color));
}
.icon-button.button--fill.button--primary:hover {
  background-color: rgba(var(--primary-color-light));
}

.icon-button.button--success:hover {
  background-color: rgba(var(--success-color), 0.2);
}
.icon-button.button--fill.button--success {
  background-color: rgba(var(--success-color));
}
.icon-button.button--fill.button--success:hover {
  background-color: rgba(var(--success-color-light));
}

.icon-button.button--accent:hover {
  background-color: rgba(var(--accent-color), 0.2);
}
.icon-button.button--fill.button--accent {
  background-color: rgba(var(--accent-color));
}
.icon-button.button--fill.button--accent:hover {
  background-color: rgba(var(--accent-color-light));
}

.icon-button.button--warning:hover {
  background-color: rgba(var(--warning-color), 0.2);
}
.icon-button.button--fill.button--warning {
  background-color: rgba(var(--warning-color));
}
.icon-button.button--fill.button--warning:hover {
  background-color: rgba(var(--warning-color-light));
}

.icon-button.button--danger:hover {
  background-color: rgba(var(--danger-color), 0.2);
}
.icon-button.button--fill.button--danger {
  background-color: rgba(var(--danger-color));
}
.icon-button.button--fill.button--danger:hover {
  background-color: rgba(var(--danger-color-light));
}

.icon-button:active {
  transform: scale(0.965);
}

.icon-button.icon-button--isDisabled {
  cursor: not-allowed;
  opacity: 0.92;
  background-color: rgba(var(--interactable-shade-1), 0.35) !important;
  pointer-events: none;
}
.icon-button.icon-button--isDisabled:active {
  transform: scale(1);
}
.icon-button.icon-button--isDisabled:hover {
  background-color: rgba(var(--interactable-shade-1), 0.35) !important;
}