.Accordion--triggerWrapper {
  display: flex;
  align-items: center;

  background-color: transparent;
  outline: 0;
  box-sizing: border-box;
  transition: background-color 0.1s linear;
  border-radius: 8px;
}
.Accordion--triggerWrapper:hover {
  background-color: rgba(var(--interactable-shade-1), 0.7);
}

.Accordion--Button {
  text-align: left;
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  background-color: transparent;
  font-size: 0.98rem;
  font-weight: 500;
  border: none;
  height: 100%;
  outline: 0;
  box-sizing: border-box;
  border-radius: 8px;
}
.Accordion--buttonPadding-xs {
  padding: 4px;
}
.Accordion--buttonPadding-s {
  padding: 8px;
}
.Accordion--buttonPadding-m {
  padding: 12px;
}
.Accordion--buttonPadding-l {
  padding: 16px;
}
.Accordion--buttonPadding-xl {
  padding: 20px;
}

.Accordion--Button:hover,
.Accordion--Button:focus {
  text-decoration: underline;
  cursor: pointer;
}

.Accordion--ButtonContent {
  display: flex;
  align-items: center;
}

.Accordion--optionalIcon {
  margin-right: 6px;
}

.Accordion--buttonReverse {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.Accordion-buttonReverse .Accordion--chevronIconWrapper {
  margin-right: 12px;
}

.Accordion--chevronIconWrapper {
  border-radius: 4px;
  flex-shrink: 0;
}

.Accordion--chevronIconWrapper .Accordion--chevronIcon {
  vertical-align: top;
  transition: transform 0.15s linear;
}

.Accordion--chevronIconWrapper .Accordion--chevronIcon-isOpen {
  transform: rotate(90deg);
}

.Accordion--chevronIconButton {
  margin-right: 6px;
}

.Accordion--extraAction {
  flex-shrink: 0;
  margin-right: 16px;
}

.Accordion--childrenWrapper {
  visibility: hidden;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateZ(0);
  transition: height 0.15s linear, opacity 0.15s linear;
  outline-color: rgba(var(--primary-color), 0.2);
}

.Accordion.Accordion--isOpen .Accordion--childrenWrapper {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.Accordion--padding-xs {
  padding: 8px;
}
.Accordion--padding-s {
  padding: 12px;
}
.Accordion--padding-m {
  padding: 16px;
}
.Accordion--padding-l {
  padding: 20px;
}
.Accordion--padding-xl {
  padding: 24px;
}

.Accordion--children-isLoading {
  line-height: 1.5rem;
  display: flex;
  align-items: center;
}

.Accordion--children-isLoading .Accordion--loadingSpinner {
  margin-right: 6px;
}